HERO3_ENV=development
HERO3_PORT=8080
HERO3_VERSION=0.1.0
HERO3_LOG_LEVEL=info
HERO3_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
# 不配置时使用内存存储；配置后使用 MySQL/MariaDB。
# HERO3_DATABASE_DSN=hero3_user:hero3_password@tcp(127.0.0.1:3306)/hero3?parseTime=true&charset=utf8mb4&loc=UTC
# 服务器开放 3306 后，本地开发可直接连接服务器数据库。
# HERO3_DATABASE_DSN=hero3_user:hero3_password@tcp(服务器IP:3306)/hero3?parseTime=true&charset=utf8mb4&loc=UTC
# 如果后续关闭公网 3306，通过 SSH 隧道连接服务器 MySQL 时，可把端口改成 3307。
# HERO3_DATABASE_DSN=hero3_user:hero3_password@tcp(127.0.0.1:3307)/hero3?parseTime=true&charset=utf8mb4&loc=UTC
# HERO3_DB_TUNNEL_ENABLED=false
# HERO3_DB_SSH_HOST=服务器IP
# HERO3_DB_SSH_USER=root
# HERO3_DB_SSH_PASSWORD=服务器SSH密码
# HERO3_DB_TUNNEL_LOCAL_PORT=3307
# HERO3_DB_REMOTE_PORT=3306
